---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero/index.astro';
import InstructionsSection from '@components/InstructionsSection/index.astro';
import Carousel from '@components/Carousel/index.astro';
import TextSection 	from '@components/TextSection/index.astro';
import Steps from '@components/Steps/index.astro';
import Payment from '@components/Payment/index.astro';
import Vestimenta from '@components/Vestimenta/index.astro';
---

<Layout>
	<Hero />
	<script src="https://static.elfsight.com/platform/platform.js" async></script>
	<div class="elfsight-app-c2dd146c-8f1b-42e3-8d4e-caee8123a681" data-elfsight-app-lazy></div>
	<Steps />
	<InstructionsSection />
	<Carousel />
	<TextSection />
	<Payment />
	<Vestimenta />

</Layout>
