<div class="max-w-4xl mx-auto px-4 py-5">

  <div class="text-center mb-12">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-medium leading-tight">
      <span class="text-gray-900">
        No traigas regalos, esta boda tiene una prohibición para los exprimidores de naranjas, sanducheras, licuadoras, etc. 
      </span>
      <span class="text-gray-400">
        Por eso de que "ya vivimos en pecado hace algunos años", ya tenemos todas esas pendejaditas.
      </span>
    </h2>
  </div>
</div>
