 <div class=" mx-auto bg-[#5d6356] text-white pt-10 rounded-lg">
    <div class="text-center mb-10 space-y-2">
      <h1 class="text-2xl md:text-4xl font-medium">No somos unos dictadores pero</h1>
      <h2 class="text-2xl md:text-4xl font-medium">nos gustaría que tuvieras en cuenta</h2>
      <h3 class="text-2xl md:text-4xl font-medium">
        esto para <span class="text-[#d2b48c]">acompañarnos</span>
      </h3>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
      <div class="text-center">
        <h3 class="text-xl font-medium text-[#d2b48c] mb-4">Hombres</h3>
        <ul class="space-y-2 list-disc list-inside text-left max-w-xs mx-auto">
          <li>Camisa blanca Manga Larga</li>
          <li>Sin corbatas</li>
          <li>Pantalón Color Verde Olivo</li>
          <li>Tirantes Verde Olivo</li>
          <li>Tenis blancos ( Nada de zapatos salseros o de charol )</li>
        </ul>
      </div>

      <div class="text-center">
        <h3 class="text-xl font-medium text-[#201c16] mb-4">Mujeres</h3>
        <ul class="space-y-2 list-disc list-inside text-left max-w-xs mx-auto">
          <li>Vestido Verde ( Cualquier Color Verde )</li>
          <li>SIN Tacones</li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center mt-6">
      <img
        src="/codv.png"
        alt="Dress code examples"
        width={800}
        height={200}
        class="object-contain w-full max-h-60"
      />
    </div>
  </div>