<section class=" bg-[#6b705c] pt-16 md:pt-24 text-center text-white">
    <div class="container mx-auto px-4 max-w-4xl">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-medium mb-6 leading-tight">
        No somos unos dictadores pero nos gustaría que tuvieras en cuenta esto para{" "}
        <span class="text-[#ddb892]">acompañarnos</span>
      </h2>
      
      <p class="text-lg md:text-xl mb-12">
        En esta boda no se permiten corbatas ni tacones<br />
        traigan sus mejores gafas.
      </p>
      
      <div class="relative w-full overflow-hidden h-[200px] md:h-[300px] lg:h-[400px]">
        <img 
          src="/Public/codvestimenta.png.png"
          alt="Grupo de hombres con camisa blanca, tirantes y pantalones grises"
          class="absolute inset-0 w-full object-contain"
        />
      </div>
    </div>
  </section>
  